<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MainBnd" closeTimeout="09:01:00" openTimeout="09:01:00" receiveTimeout="09:10:00" sendTimeout="09:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61134/wsOrion.svc" binding="basicHttpBinding" bindingConfiguration="MainBnd" contract="IwsOrion" name="Basic"/>
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>

    </compilers>
  </system.codedom>
  <appSettings>
    <add key="FormatoFecha" value="8"/>
    <!-- Períodpo -->
    <add key="app_global_periodo" value="1"/>
    
    <add key="app_global_imagenes" value="\\192.9.10.140\FOTOS\"/>
    
    <add key="app_email_cc" value="analistasistemas@clinicadelamujer.com.co"/>
    <add key="app_email_subject" value="Orión tiene noticias para tí..." />
    <add key="app_email_body_header" value=" El Programa de Reconocimientos de la Clínica de la Mujer, ORION te informa que hay una nueva Estrella para ti  " />
    <add key="app_email_body_01" value="  Un Directivo piensa que eres una persona muy importante para la Clínica porque demuestras un trabajo excepcional y contribuyes con nuestra Cultura Organizacional, y te postuló en la(s) categoría(s): " />
    <add key="app_email_body_02" value="  ¡Ya formas parte de las estrellas de Clínica de la Mujer!" />
    <add key="app_email_body_03" value="  Hay mas estrellas para ti, continúa con tu excelente labor para ser el ganador del Gran PREMIO." />
    <add key="app_email_body_03r" value="  ORION - PROGRAMA DE RECONOCIMEINTOS" />

    <add key="app_email_body_footer01" value="" />
    <add key="app_email_body_footer02" value="" />
    <add key="app_email_body_footer03" value="No responder a este correo" />

    <add key="Header_footer_generado" value="    Este correo fue generado automáticamente por ORION" />
    
  </appSettings>
</configuration>